{% extends "templates/web.html" %}

{% block page_content %}
<div class="container my-5">
  <div class="card mx-auto shadow-sm" style="max-width: 700px;">
    <img src="{{ doc.vehicle_image }}" class="card-img-top img-fluid" alt="Image of {{ doc.title }}">

    <div class="card-body text-center">
      <h1 class="card-title text-primary font-weight-bold">{{ doc.title }}</h1>
      <h4 class="text-muted mb-2">Model: {{ doc.model }}</h4>
      <h5 class="text-muted mb-3">Color: {{ doc.color }}</h5>
      <h5 class="text-muted mb-2">Insurance Expiry: {{ doc.insurance_expiry }}</h5>
      <h5 class="text-muted mb-2">Model: {{ doc.status }}</h5>



      <a class="btn btn-info btn-lg mt-3" href="/book-a-ride/new?vehicle={{ doc.name }}">
        🚐 Book Ride Now
      </a>
    </div>
  </div>
</div>
{% endblock %}
